@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  animation: spinner 1.5s linear infinite;
  background-color: transparent;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  border: 5px solid transparent;
  border-bottom: 5px solid #0079ff;
}
