.userDisplay {
  background-color: var(--display-background);
  margin-block-start: 1.6rem;
  border-radius: 15px;
  padding: 2em 1.5em;
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.userInfo {
  display: grid;
  grid-template-areas:
    'image username'
    'image joined';
  grid-template-columns: auto 1fr;
  container: user-info / inline-size;
}

@container user-info (width >= 49rem) {
  .userInfo img {
    min-width: 11.7rem;
  }
}

.userInfo img {
  border-radius: 50%;
  width: 7rem;
  aspect-ratio: 1/1;
  grid-area: image;
  margin-right: 1.9rem;
}

.userJoined {
  grid-area: joined;
  font-size: clamp(1.3rem, 4.5cqi, 1.5rem);
  padding-top: 0.5rem;
  color: var(--text-color-light);
}

.usernameInfo {
  grid-area: username;
  margin-top: 0.2rem;
}

.usernameInfo h2 {
  font-size: clamp(1.6rem, 5.5cqi, 2.6rem);
  /* line-height: 1.5; */
}

.username {
  font-size: clamp(1.3rem, 4.5cqi, 1.6rem);
  color: var(--primary);
}

.userBio {
  font-size: clamp(1.3rem, 3.5cqi, 1.5rem);
  margin-block-start: 3.4rem;
  line-height: 1.9;
}

.userStats {
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: var(--repo-background);
  border-radius: 10px;
  margin-block-start: 2.4rem;
  min-height: 8.5rem;
  padding-top: 1.2em;
}

.userStats p {
  text-align: center;
  font-size: clamp(1.1rem, 3.5cqi, 1.3rem);
}

.userStats p span {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  margin-block-start: 0.5rem;
  font-size: clamp(1.6rem, 5.5cqi, 2.2rem);
}

.userLinks {
  margin-block-start: 2.4rem;
}

.userLinks > *:not(:last-child) {
  margin-block-end: 1.6rem;
}

.userLinks p {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  align-items: center;
  font-size: 1.3rem;
  gap: 0.7rem;
}

.userLinks p a {
  color: var(--text-color-light);
  text-decoration: none;
}

.userLinks p[data-active='false'] {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .userDisplay {
    margin-block-start: 2.25rem;
    padding: 2.5em 2.5em;
  }

  .userInfo img {
    margin-right: 4rem;
  }

  .usernameInfo {
    margin-top: 1.4rem;
  }

  .userBio {
    margin-block-start: 2.5rem;
    line-height: 1.6;
  }

  .userStats {
    margin-block-start: 3.3rem;
    justify-content: start;
    padding-top: 1.6rem;
    padding-left: 3rem;
  }

  .userStats p {
    text-align: left;
  }

  .userStats p:not(:last-of-type) {
    margin-right: 7rem;
  }

  .userStats p:nth-of-type(2) {
    margin-right: 5.1rem;
  }

  .userStats p span{
    margin-top: .2rem;
  }
}
